/* fonts */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntucondensed/v16/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfrg.ttf) format('truetype');
}
/* responsive strategy */
/* 3d style */
/* colors */
/* root */
:root,
html,
body {
  font-family: Lato, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
}
/* link */
a {
  text-decoration: none;
  color: #7c4dff;
}
a:hover {
  color: #3f1dcb;
}
/* typography */
h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
}
.subhead {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
}
.caption {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
}
/**
* breath methods
*/
/**
********************************************
* Flex components
********************************************
*/
/**
* toolbar
*/
.toolbar {
  display: flex;
  width: 100%;
  max-height: 128px;
  padding: 0 16px;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.005em;
  height: 64px;
  background-color: #fafafa;
}
@media (min-width: 900px) {
  .toolbar {
    flex-flow: row;
  }
}
.toolbar > .section__title {
  flex: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.toolbar > .section__action {
  flex: initial;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}
.toolbar--fixed {
  position: fixed;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 10;
}
.toolbar--border {
  border-bottom: 1.4px solid #CCCCCC;
}
/**
* button
*/
button {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  user-select: none;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.01em;
  line-height: 36px;
  margin: 14px 8px 8px 8px;
  min-width: 88px;
  outline: none;
  overflow: hidden;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}
button:not([disabled]) {
  box-shadow: none;
  cursor: pointer;
}
button[disabled] {
  color: rgba(0, 0, 0, 0.38);
  pointer-events: none;
}
button.raised {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  background-color: #fafafa;
}
button.raised:active {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
/**
* card
*/
#card {
  padding: 8px;
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.6s ease;
}
@media (min-width: 960px) {
  #card {
    padding: 16px;
  }
}
#card:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
/* Layout elements */
.divider {
  border-bottom: 1px solid #151515;
  margin-bottom: 10px;
}
:root,
html,
body {
  background-color: #222;
}
.skeleton {
  --card: linear-gradient(to bottom, #313131 100%, transparent 0%);
  --card-height: 340px;
  --avatar: radial-gradient(circle 40px at center, #2a2a2a 100%, transparent 0%);
  --avatar-size: 80px;
  --avatar-position: 24px 24px;
  --title: linear-gradient(to right, #2a2a2a 100%, transparent 0%);
  --title-height: 28px;
  --title-width: 160px;
  --title-position: 24px 120px;
  --subtitle: linear-gradient(to right, #262626 100%, transparent 0%);
  --subtitle-height: 16px;
  --subtitle-width: 200px;
  --subtitle-position: 24px 160px;
  --button: linear-gradient(to bottom, #2a2a2a 100%, transparent 0%);
  --button-height: 40px;
  --button-1-width: 90px;
  --button-1-position: 24px 260px;
  --button-2-width: 90px;
  --button-2-position: 124px 260px;
  --blur-width: 200px;
  --blur-size: var(--blur-width) var(--card-height);
}
#header__title {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #BDBDBD;
}
#header__description {
  color: #AAA;
  font-weight: 300;
}
.page__container {
  padding: 8px;
}
@media (min-width: 960px) {
  .page__container {
    padding: 16px;
  }
}
/*
 * grid container
 */
#grid {
  height: 100%;
  display: grid;
  grid-gap: 10px 10px;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.skeleton .card:empty::after {
  content: "";
  display: block;
  width: 100%;
  height: 340px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background-image: linear-gradient(90deg, rgba(51, 51, 51, 0) 0, rgba(51, 51, 51, 0.8) 50%, rgba(51, 51, 51, 0) 100%), var(--avatar), var(--title), var(--subtitle), var(--button), var(--button), var(--card);
  background-size: var(--blur-size), var(--avatar-size) var(--avatar-size), var(--title-width) var(--title-height), var(--subtitle-width) var(--subtitle-height), var(--button-1-width) var(--button-height), var(--button-2-width) var(--button-height), 100% 100%;
  background-position: -150% 0, var(--avatar-position), var(--title-position), var(--subtitle-position), var(--button-1-position), var(--button-2-position), 0 0;
  background-repeat: no-repeat;
  animation: loading 1.9s infinite linear;
}
@keyframes loading {
  to {
    background-position: 350% 0, var(--avatar-position), var(--title-position), var(--subtitle-position), var(--button-1-position), var(--button-2-position), 0 0;
  }
}